<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>2620106760-m7kjomt5p204kugrrk3jj40u888atk27.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.2620106760-m7kjomt5p204kugrrk3jj40u888atk27</string>
	<key>API_KEY</key>
	<string>AIzaSyC1zbHR-G83g3wulYYIMyVJUUZmkZKrQCU</string>
	<key>GCM_SENDER_ID</key>
	<string>2620106760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.grupo2.Comidinhas</string>
	<key>PROJECT_ID</key>
	<string>comidinhas-8c71d</string>
	<key>STORAGE_BUCKET</key>
	<string>comidinhas-8c71d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:2620106760:ios:08c7580c51bb71babb49bd</string>
	<key>DATABASE_URL</key>
	<string>https://comidinhas-8c71d.firebaseio.com</string>
</dict>
</plist>